In [1]:
import numpy as np
import binascii

In [2]:
def decimalToBinary(num , places):
    return ('{0:0' +  str(places) + 'b}').format(num)


def binaryToDecimal(binary):
    return int(binary, 2)
        
def xorBinary(binary,key = "00000000"):
    i=0
    encBin = ""
    while(i<8):
        if(binary[i] == '0' and key[i] == '0') or (binary[i] == '1' and key[i] == '1'):
            encBin+="0"
        else:
            encBin+="1"
        i+=1
        
#     print(binary , key , encBin)    
    return encBin
    
def compressBinary(binary):
    i=0
    compressBin = ""
    while(i<8):
        if(i%2 == 0):
            if((binary[i] == '0' and binary[i+1] == '0') or (binary[i] == '1' and binary[i+1] == '1')):
                compressBin+="0"
            else:
                compressBin+="1"
        i+=1
        
    return compressBin

def to_twoscomplement(bits, value):
    if value < 0:
        value = ( 1<<bits ) + value
    formatstring = '{:0%ib}' % bits
    return formatstring.format(value)

# Code for Importing Data

In [3]:
import pandas as pd
article_read = pd.read_csv('dataset.csv',delimiter = ',')

In [4]:
# new_dataset = pd.Series(list(article_read['Temp.'].sample(101 , random_state=10)))
new_dataset = article_read['Temp.']

# new_dataset

# Code For Delta Coding

In [5]:
new_dataset.describe()

count    928991.000000
mean         27.283373
std           0.904537
min          24.434400
25%          26.764900
50%          27.328400
75%          27.868700
max          30.325400
Name: Temp., dtype: float64

In [6]:
int_dataset = new_dataset * 10000

In [7]:
int_dataset = int_dataset.astype('int64')

In [8]:
int_dataset.head()

0    262257
1    262308
2    262365
3    262416
4    262462
Name: Temp., dtype: int64

In [9]:
diff_dataset = [int_dataset[0]]
for i in range(1 , len(int_dataset)) :
        diff_dataset.append(int_dataset[i] - int_dataset[i-1])

In [10]:
diff_dataset = pd.Series(diff_dataset)

In [11]:
diff_dataset.head()

0    262257
1        51
2        57
3        51
4        46
dtype: int64

In [12]:
import seaborn as sns
%matplotlib inline

In [13]:
diff_dataset.describe()

count    928991.000000
mean          0.298587
std         295.352490
min      -41416.000000
25%          -7.000000
50%           0.000000
75%           6.000000
max      262257.000000
dtype: float64

In [14]:
len(diff_dataset)

928991

In [15]:
((diff_dataset > 64) | (diff_dataset < -64)).sum()

24877

In [16]:
24877/928991 * 100

2.6778515615328886

In [17]:
(2.6778515615328886 * 24 + (100 - 2.6778515615328886) *  8) / (100 * 20)

0.4214228124922631

In [21]:
bytesToSend = []
for i in diff_dataset :
    if(i > 64 or i < -64) :
        # Send 3 Bytes
        number = decimalToBinary(abs(i) , 21)
        if(i < 0):
            firstByte = '01' + number[1:7]
        else :
            firstByte = '00' + number[1:7]
        secondByte = '0' + number[7:14]
        thirdByte = '0' + number[14:21]
        bytesToSend.append(firstByte)
        bytesToSend.append(secondByte)
        bytesToSend.append(thirdByte)
    else :
        number = decimalToBinary(abs(i) , 6)
        if(i < 0):
            firstByte = '11' + number
        else :
            firstByte = '10' + number
        bytesToSend.append(firstByte)

In [22]:
len(bytesToSend)

978745

In [23]:
i = 0
current = 0
currentByte = ''

dataSet = []
last = 0

while(i < len(bytesToSend)) :
    recvByte = bytesToSend[i]
    if recvByte[0] == '0' :
        current += 1
        currentByte += recvByte[1:]
        if current == 3 :
            dataPoint = int(currentByte[1:], 2)
            if(currentByte[0]) == '1' :
                dataPoint *= -1
            
            dataPoint += last
            dataSet.append(dataPoint)
            last = dataPoint
            current = 0
            currentByte = ''
    else :
        dataPoint = int(recvByte[2:], 2)
        if(recvByte[1]) == '1' :
            dataPoint *= -1
        if i > 15 and i < 21 :
            print(i , dataPoint , recvByte) 
        dataPoint += last
        dataSet.append(dataPoint)
        last = dataPoint
    
    i+=1
    
dataSet = pd.Series(dataSet)

16 12 10001100
17 10 10001010
18 3 10000011
19 -1 11000001
20 0 10000000

In [24]:
pd.concat([dataSet, int_dataset , diff_dataset], axis=1)

             0   Temp.       1
0       262257  262257  262257
1       262308  262308      51
2       262365  262365      57
3       262416  262416      51
4       262462  262462      46
5       262503  262503      41
6       262541  262541      38
7       262575  262575      34
8       262606  262606      31
9       262626  262626      20
10      262643  262643      17
11      262658  262658      15
12      262671  262671      13
13      262683  262683      12
14      262695  262695      12
15      262705  262705      10
16      262708  262708       3
17      262707  262707      -1
18      262707  262707       0
19      262706  262706      -1
20      262706  262706       0
21      262705  262705      -1
22      262705  262705       0
23      262707  262707       2
24      262709  262709       2
25      262594  262594    -115
26      262490  262490    -104
27      262386  262386    -104
28      262292  262292     -94
29      262207  262207     -85
...        ...     ...     ...
928961  277987  277987     -94
928962  277903  277903     -84
928963  277826  277826     -77
928964  277757  277757     -69
928965  277695  277695     -62
928966  277638  277638     -57
928967  277587  277587     -51
928968  277540  277540     -47
928969  277498  277498     -42
928970  277461  277461     -37
928971  277426  277426     -35
928972  277399  277399     -27
928973  277380  277380     -19
928974  277363  277363     -17
928975  277348  277348     -15
928976  277333  277333     -15
928977  277321  277321     -12
928978  277309  277309     -12
928979  277299  277299     -10
928980  277289  277289     -10
928981  277281  277281      -8
928982  277273  277273      -8
928983  277266  277266      -7
928984  277260  277260      -6
928985  277254  277254      -6
928986  277282  277282      28
928987  277312  277312      30
928988  277339  277339      27
928989  277364  277364      25
928990  277385  277385      21

[928991 rows x 3 columns]

In [31]:
(dataSet != int_dataset).sum() # Zero Denotes No Mis Match.

0

In [26]:
# Original Data Sent => Considering 20Bits Per Data Point
originalDataSize = len(int_dataset) * 20 / 8

In [27]:
# New Data Size 
compressedDataSize = len(bytesToSend)

In [28]:
ratio = compressedDataSize / originalDataSize

In [29]:
ratio

0.4214228124922631

In [32]:
(1 - ratio) * 100 # Reduction Percatage

57.85771875077369