In [22]:
def decimalToBinary(num,k_prec):
    binary=""
    integral = int(num)
    fractional = num-integral
    intLength = 0
    while(integral):
        intLength+=1
        remainder=integral%2
        binary+=str(remainder)
        integral=integral//2
    if(intLength<6):
        while(intLength<6):
            intLength+=1
            binary+="0"
    binary=binary[ : : -1]
    binary+='.'
    while(k_prec):
        fractional*=2
        fract_bit = int(fractional)
        if(fract_bit==1):
            fractional-=fract_bit
            binary+='1'
        else:
            binary+='0'
        k_prec-=1
    return binary


def binaryToDecimal(binary,length):
    i=0
    intDecimal=0
    fracDecimal=0.0
    intLength=0
    while(binary[intLength]!='.'):
        intLength+=1
    point=intLength
    intLength-=1
    while(binary[i]!='.'):
        if(binary[i]=='1'):
            intDecimal+=pow(2,intLength)
        intLength-=1
        i+=1
    i=1
    point+=1
    while(point<length):
        if(binary[point]=='1'):
            fracDecimal+=1.0/pow(2,i)
        point+=1
        i+=1
    finalDecimal = float(intDecimal) + float(fracDecimal)
    return round(finalDecimal,4)

In [30]:
import pandas as pd
article_read = pd.read_csv('zoo.csv',delimiter = ',')
article_read

    temperature
0       26.2257
1       26.2308
2       26.2365
3       26.2416
4       26.2462
5       26.2503
6       26.2541
7       26.2575
8       26.2606
9       26.2626
10      26.2643
11      26.2658
12      26.2671
13      26.2683
14      26.2695
15      26.2705
16      26.2708
17      26.2707
18      26.2707
19      26.2706
20      26.2706

In [24]:
# article_read['Temp.'].describe()

In [25]:
def compressBinary(binary):
    i=0
    compressBin = ""
    while(i<6):
        if(i%2 == 0):
            if((binary[i] == '0' and binary[i+1] == '0') or (binary[i] == '1' and binary[i+1] == '1')):
                compressBin+="0"
            else:
                compressBin+="1"
        i+=1
    compressBin+="."
    i=0
    while(i<16):
        if(i%2 == 0):
            if((binary[i+8] == '0' and binary[i+7] == '0') or (binary[i+8] == '1' and binary[i+7] == '1')):
                compressBin+="0"
            else:
                compressBin+="1"
        i+=1
    return compressBin

In [32]:
# print(compressBinary(decimalToBinary(26.2257,16)))
# print(binaryToDecimal(decimalToBinary(26.2257,16),23))
# print("\n\n")

for i in range(0,20):
   print(i)
   print(binaryToDecimal(decimalToBinary(article_read.temperature[i],16),23))
   print(article_read.temperature[i])

0
64.5
26.2257
1
64.5
26.2308
2
64.5
26.2365
3
64.5
26.2416
4
64.5
26.2462
5
64.5
26.2503
6
64.5
26.2541
7
64.5
26.2575
8
64.5
26.2606
9
64.5
26.2626
10
64.5
26.2643
11
64.5
26.2658
12
64.5
26.2671
13
64.5
26.2683
14
64.5
26.2695
15
64.5
26.2705
16
64.5
26.2708
17
64.5
26.2707
18
64.5
26.2707
19
64.5
26.2706